.vc_license-activation-notice {
	display: none;
}
.vc_edit_form_elements .textarea_raw_html {
	height: 60px;
}
.redux-dev-mode-notice-container {
	display: none;
}
.redux-container-image_select .redux-image-select {
	margin: 0 0 10px !important;
}
#learn-press-newsletter-button {
	display: none;
}
[data-notice="new_extension-2fa"] {
	display: none;
}
.appearance_page_pt-one-click-demo-import .ui-dialog-buttonset .button-primary {
	background: #008ec2;
	border-color: #006799;
	color: #fff;
}
.appearance_page_pt-one-click-demo-import .ui-widget-header .ui-dialog-titlebar-close::before {
	content: none;
}
[dir='rtl'] .vc_shortcode-param[data-param_type="dropdown"] select.wpb_vc_param_value {
	text-align: right;
}